@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
}